:root {
	--button-color: #007bff;
	--button-hover-color: #0056b3;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	background-color: antiquewhite;
	padding: 2rem 2rem 2rem 2rem;
}

.new-game {
	color: #fff;
	background-color: var(--button-color);
    text-decoration: bold;
	border: none;
	height: 2rem;
	width: 10rem;
}

.new-game:hover {
	background-color: var(--button-hover-color);
}

.heading {
	text-decoration: bold;
	font-size: 2.5rem;
}
span {
	font-size: 1.5rem;
}
.letter-input {
    outline: none;
	height: 2rem;
	width: 13rem;
    border: 3px solid #ccc;
	font-size: 1.5rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin-top: 1rem;
	text-align: center
}

.letter-input:focus {
    border-color: #eb35e6;
    box-shadow: 0 0 2px #eb35e6;
}

#guessed-letters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
}